.benefits {

  background: #081423;
  text-align: center;

}

.benefits-container {

  max-width: 1100px;
  margin: auto;

}

.benefits-title {

  font-size: 40px;
  font-weight: 700;
  margin-bottom: 15px;

}

.benefits-subtitle {

  color: var(--text-muted);

  max-width: 640px;
  margin: 20px auto 60px;

}
