.button{

  display:inline-flex;
  align-items:center;
  justify-content:center;

  padding:12px 28px;

  border-radius:8px;

  font-weight:600;

  color:white;

  background:#6a5cff;

  border:none;

  cursor:pointer;

  transition:0.25s;
}

.button:hover{

  transform:translateY(-2px);
  background:#5848e5;
}
