.cards {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
}

.card {

  background: #0f2747;

  padding: 30px;
  border-radius: 10px;

  width: 240px;

  color: white;

  text-align: center;

  transition: 0.25s;
}

.card:hover {
  transform: translateY(-6px);
}

.card-icon {

  font-size: 32px;

  color: #4dabff;

  margin-bottom: 10px;

  display: block;
}
